DB_URL=jdbc:postgresql://localhost:5432/auctix_db
POSTGRES_USER=auctix_user
POSTGRES_PASSWORD=auctix_password_change_me_in_prod
POSTGRES_DB=auctix_db

SPRING_MAIL_HOST=<MAIL_SERVER_HOST>
SPRING_MAIL_PORT=<MAIL_SERVER_PORT>
SPRING_MAIL_USERNAME=<MAIL_USERNAME>
SPRING_MAIL_PASSWORD=<MAIL_PASSWORD>